<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>jdbc/oracle</value>
		</property>
		<property name="resourceRef" value="true"/>
	</bean> -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>oracle.jdbc.driver.OracleDriver</value>
		</property>
		<property name="url">
			<value>jdbc:oracle:thin:@localhost:1521:xe</value>
		</property>
		<property name="username" value="big01"/>
		<property name="password" value="big01"/>
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="boardDAO" class="board.dao.BoardDAOImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean name="/board_list.do" class="board.controller.BoardListController">
		<property name="boardDAO" ref="boardDAO"/>
	</bean>
	<bean name="/board_content.do" class="board.controller.BoardContentController">
		<property name="boardDAO" ref="boardDAO"/>
	</bean>
	<bean name="/board_delete.do" class="board.controller.BoardDeleteController">
		<property name="boardDAO" ref="boardDAO"/>
	</bean>
	<bean name="/insert_form.do" class="board.controller.InsertFormController">
		<!-- <property name="supprotedMethods">
			<value>GET,POST</value>
		</property> -->
	</bean>
	<bean name="/board_insert.do" class="board.controller.BoardInsertController">
		<property name="boardDAO" ref="boardDAO"/>
		<property name="commandClass" value="board.dto.BoardDBBean"/>
		<property name="commandName" value="boardCmd"/>
	</bean>
	<bean name="/board_update.do" class="board.controller.BoardUpdateController">
		<property name="boardDAO" ref="boardDAO"/>
	</bean>
	<bean name="/board_delete_form.do" class="board.controller.DeleteFormController"/>
	<bean name="/board_update_form.do" class="board.controller.UpdateFormController">
		<property name="boardDAO" ref="boardDAO"/>
	</bean>
</beans>
